/.cloud
/.storage
/blueprints
/.deps
/.tts
.HA_VERSION
automations.yaml
configuration.yaml
home-assistant*
scenes.yaml
scripts.yaml
secrets.yaml
/custom_components/hello_state
/custom_components/github_custom
__pycache__